Repository chornonoh-vova/react-split-view: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: implement horizontal splitting
  package-lock.json
  package.json
  src/App.module.sass
  src/App.tsx
  src/lib/SplitDivider/SplitDivider.tsx
  src/lib/SplitDivider/StyledSplitDivider.ts
  src/lib/SplitPanel/SplitPanel.tsx
  src/lib/SplitView/SplitView.tsx
  src/lib/SplitView/StyledSplitView.ts
  src/lib/SplitView/hooks.ts
  src/lib/SplitView/utils.ts
Due: eslint --fix, prettier --write

chore: add license
  LICENSE
Due: none

chore: prepare package information for initial release
  package.json
Due: prettier --write

chore: add ci and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

docs: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: add readme
  README.md
  package.json
Due: prettier --write

ci: update release workflow
  .github/workflows/release.yml
Due: none

fix: update divider and panel styling
  index.html
  src/lib/SplitDivider/SplitDivider.tsx
  src/lib/SplitDivider/StyledSplitDivider.ts
  src/lib/SplitPanel/SplitPanel.tsx
  src/lib/SplitView/SplitView.tsx
  src/lib/SplitView/StyledSplitView.ts
  src/lib/common/config.ts
  src/lib/common/types.ts
Due: eslint --fix, prettier --write

ci: update release workflow default branch
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,html})
